.cproject
.project
.pydevproject
bin/*
build/*
lib/*
external/qpOASES/*
external/CMakeFiles/*
external/Makefile
external/cmake_install.cmake
tests/CMakeFiles/*
tests/Makefile
tests/cmake_install.cmake
